In [29]:
# Import required packages for scraping.
import pandas as pd
import requests
from bs4 import BeautifulSoup as soup

In [30]:
page = requests.get('https://www.kugli.com/Real_Estate/country/United_States-US/')
page.status_code

200

In [36]:
bsobj = soup(page.content, 'lxml')

In [49]:
for row in bsobj.findAll('tbody'):
    cols = row.findChildren(recursive = False)
    cols = [element.text.strip().split('\n') for element in cols]

print(cols[:2])

[['Type', 'Details', 'Photo'], ['USD 850.00', 'Posted: 10 hour(s), 23 min(s) ago', '', ' 4 bd3 ba2,000 sqft 1119 Kenwood Dr, San Angelo, TX 76903... More Houses for Rent AdsReady to start the new year in a gorgeous new home? Come take a look at this large four bedroom, three bath Santa Rita house! With 2 living areas and large outdoor patio area, this home is perfect for entertaining!', 'Location: San Angelo, United States']]

In [33]:
col = []
for link in links:
    pages = requests.get(link)
    bs = soup(pages.content, 'lxml')

    for row in bs.findAll('tbody'):
        cols = row.findChildren(recursive = False)
        for element in cols:
            a = element.text.strip().split('\n')
            col.append(a)

In [34]:
df = pd.DataFrame( data = col[1:], columns = ['price', 'time_posted', 'd', 'description', 'location']).dropna()
df.drop(labels=['d'],axis=1)

,price,time_posted,description,location
0,USD 850.00,"Posted: 10 hour(s), 23 min(s) ago","4 bd3 ba2,000 sqft 1119 Kenwood Dr, San Angel...","Location: San Angelo, United States"
2,USD 750.00,"Posted: 10 hour(s), 25 min(s) ago","3 bd2 ba1,300 sqft 21117 County Road 3124, Ch...","Location: Chandler, United States"
4,USD 850.00,"Posted: 10 hour(s), 29 min(s) ago","3 bd2 ba1,528 sqft 11831 Ironstone Ct, Housto...","Location: Houston, United States"
7,USD 950.00,"Posted: 10 hour(s), 32 min(s) ago","3 bd2 ba1,121 sqft 709 Center Ave, Kerrville,...","Location: Kerrville, United States"
9,USD 450.00,"Posted: 10 hour(s), 34 min(s) ago","1 bd1 ba500 sqft 722 Avenue C, Port Neches, T...","Location: Port Neches, United States"
...,...,...,...,...
209,"USD 2,000.00","Posted: 21 hour(s), 01 min(s) ago","3 bd2 ba1,350 sqft 4643 Pimenta Ave, Lakewood...","Location: Lakewood, United States"
211,USD 900.00,"Posted: 21 hour(s), 04 min(s) ago","3 bd2 ba1,270 sqft 6185 Chia Ave, Twentynine ...","Location: Twentynine Palms, United States"
213,USD 850.00,"Posted: 21 hour(s), 08 min(s) ago","2 bd1 ba-- sqft 12450 Adams St, Yucaipa, CA 9...","Location: Yucaipa, United States"
215,"USD 1,500.00","Posted: 21 hour(s), 12 min(s) ago","4 bd2 ba1,678 sqft 506 Trumpeter Dr, Suisun C...","Location: Suisun City, United States"
217,"USD 1,400.00","Posted: 21 hour(s), 24 min(s) ago","2 bd1 ba858 sqft 5411 Lowell St, Sacramento, ...","Location: Sacramento, United States"

In [35]:
file_path ='C:/Users/Sir Muguna/OneDrive/Documents/Main_Projects/Portfolio_Projects/Data_Engineering/zoopla_webscrap/real_estate_scraped_data.csv'
df.to_csv(file_path, index=False)

In [43]:
print(df['description'])

0       4 bd3 ba2,000 sqft 1119 Kenwood Dr, San Angel...
2       3 bd2 ba1,300 sqft 21117 County Road 3124, Ch...
4       3 bd2 ba1,528 sqft 11831 Ironstone Ct, Housto...
7       3 bd2 ba1,121 sqft 709 Center Ave, Kerrville,...
9       1 bd1 ba500 sqft 722 Avenue C, Port Neches, T...
                             ...
209     3 bd2 ba1,350 sqft 4643 Pimenta Ave, Lakewood...
211     3 bd2 ba1,270 sqft 6185 Chia Ave, Twentynine ...
213     2 bd1 ba-- sqft 12450 Adams St, Yucaipa, CA 9...
215     4 bd2 ba1,678 sqft 506 Trumpeter Dr, Suisun C...
217     2 bd1 ba858 sqft 5411 Lowell St, Sacramento, ...
Name: description, Length: 100, dtype: object